body {
  background-color: #ddd;
}

.doctor {
  margin: 10px 0;
  padding: 10px;
  width: 18rem;
  height: 18rem;
  border: 1px solid #333;
  border-radius: 5px;
}

.doctor h4, p {
  margin: 3px 0;
}
